.App {
  text-align: center;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.select__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.label {
  font-size: 22px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 10px;
}

.input_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.select {
  height: 40px;
  width: 60px;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.select--tickets {
  width: 150px;
}

.bottom_block {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.total_points {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.total_points--img {
  background-image: url(/public/point.png);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.total_tickets {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.total_tickets--img {
  background-image: url(/public/ticket.png);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.Prize-A {
  color: #fec408;
}

.Prize-B {
  color: #7a40ed;
}

.Prize-C {
  color: #5c3578;
}

.Prize-D {
  color: #aaa1bc;
}

.Prize-E {
  color: #aaa1bc;
}

.Prize-F {
  color: #aaa1bc;
}

.Prize-G {
  color: #aaa1bc;
}

.Last-Prize {
  color: #fec408;
}

.total_points--h2 {
  color: #fec408;
}

.total_tickets--h2 {
  color: #ed4065;
}

.logo_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.logo--img {
  background-image: url(/public/flag.png);
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
