.App {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;

  @media (min-width: 460px) {
    flex-direction: row;
  }
}

.select__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.label {
  font-size: 16px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  gap: 10px;
}

.input_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.select {
  height: 40px;
  width: 60px;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.select--tickets {
  width: 150px;
}

.bottom__blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;

  @media (min-width: 600px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.total {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

.total_points--img {
  background-image: url(/public/point.png);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.total_received--h2 {
  color: #11ff25;
}

.total_tickets--img {
  background-image: url(/public/images/ticket.png);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.total_gems--img {
  background-image: url(/public//images/gem.png);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.A {
  color: #fec408;
}

.B {
  color: #7a40ed;
}

.C {
  color: #5c3578;
}

.D {
  color: #aaa1bc;
}

.E {
  color: #aaa1bc;
}

.F {
  color: #aaa1bc;
}

.G {
  color: #aaa1bc;
}

.Last {
  color: #fec408;
}

.total_points--h2 {
  color: #fec408;
}

.total_tickets--h2 {
  color: #ed4065;
}

.logo_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.logo {
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.logo--img {
  background-image: url(/public/flag.png);
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

.select--categories {
  width: max-content;
}

.num-tickets__block {
  display: flex;
  gap: 10px;
  align-items: center;
}
.num-tickets__input {
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;

  font-size: 0.8rem;
  width: 45px;
}

.input__block {
  display: flex;
  align-items: center;
  gap: 2px;
}

.green {
  color: #11ff25;
}

table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

thead th {
  background-color: #f4f4f4;
  color: #333;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.item-img {
  max-width: 50px;
  height: auto;
  border-radius: 4px;
}

.td_title {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

select {
  margin-right: 8px;
}

td {
  vertical-align: middle;
  /* height: 60px; */
}

td img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  table {
    font-size: 16px;
  }

  th,
  td {
    padding: 10px;
  }

  .item-img {
    max-width: 40px;
  }
}

.checkbox {
  width: 30px;
  height: 20px;
}
